@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}


.progress-primary::-moz-progress-bar {
  @apply bg-gradient-to-r from-primary to-secondary;
}

.progress-primary:indeterminate {
  @apply bg-primary border; 
}

.progress-primary::-webkit-progress-value {
  @apply bg-primary border;
}

.gradient-tracker {
  @apply bg-gradient-to-r from-[#8119FF] to-[#F76217];
}

/* Reverse Progress Bar */
.progress-reverse {
  transform: scaleX(-1); /* Flip the progress bar */
}

.progress-reverse::-webkit-progress-value {
  transform: scaleX(-1); /* Flip the progress value */
}

.progress-reverse::-moz-progress-bar {
  transform: scaleX(-1); /* Flip the progress value */
}